
{% extends 'app/base.html' %}
{% load static %}
{% block blog %}
<section class="blog_categorie_area" style="margin: 15px auto">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="{% static 'images/blog/post/post3.jpg'%}" alt="post">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="{% static 'images/blog/post/post2.jpg'%}" alt="post">
                    
                </div>
            </div>

            <div class="col-lg-4" >
                <div class="categories_post">
                    <img src="{% static 'images/blog/post/post1.jpg'%}" alt="post">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <article class="row blog_item">
                        

                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="{% static 'images/blog/main-blog/m-blog-1.jpg'%}" alt="post">
                                <div class="blog_details">
                                    <a href="single-blog.html">
                                        <h2>Astronomy Binoculars A Great Alternative</h2>
                                    </a>
                                    <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                        understand why you should have to spend money on boot camp when you can get
                                        the MCSE study materials yourself at a fraction.</p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="row blog_item">
                        
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="{% static 'images/blog/main-blog/m-blog-2.jpg'%}" alt="post">
                                <div class="blog_details">
                                    <a href="single-blog.html">
                                        <h2>The Basics Of Buying A Telescope</h2>
                                    </a>
                                    <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                        understand why you should have to spend money on boot camp when you can get
                                        the MCSE study materials yourself at a fraction.</p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>


                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                       <aside class="single_sidebar_widget popular_post_widget" style="font-size: 10px">
                        <h3  class="widget_title">Popular Posts</h3>
                        <div class="media post_item">
                            <img src="{% static 'images/blog/popular-post/post1.jpg'%}" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Space The Final Frontier</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>

                        <div class="media post_item">
                            <img src="{% static 'images/blog/popular-post/post2.jpg'%}" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>

                        <div class="media post_item">
                            <img src="{% static 'images/blog/popular-post/post3.jpg'%}" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>

                        <div class="media post_item">
                            <img src="{% static 'images/blog/popular-post/post4.jpg'%}" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>

                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" img src="{% static 'images/blog/add.jpg'%}" alt="post">
                        <div class="br"></div>
                    </aside>
                    
                    <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <p>
                            Here, I focus on a range of items and features that we use in life without
                            giving them a second thought.
                        </p>
                        <div class="form-group d-flex flex-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                            </div>
                            <a href="#" class="bbtns">Subcribe</a>
                        </div>
                        <p class="text-bottom">You can unsubscribe at any time</p>
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock blog %}